<!--用户注册管理-重置密码-->
<div class="easyui-dialog" title="">
    <div>
        <h1>重置密码</h1>
    </div>
    <div>
        <label>
            重置密码： <input class="easyui-textbox" data-options="prompt:'请输入新密码'"/>
        </label>
    </div>
    <div>
        <label>
            确认密码： <input class="easyui-textbox" data-options="prompt:'请再次输入密码'"/>
        </label>
    </div>

    <div>
        <div class="button" style="margin-top: -1px; margin-right: -2px">
            <a href="#" onclick="EnterprisesSubmitAdd()" style="width: 133px;height: 30px;line-height: 30px">
                <span>取消</span>
            </a>
            <a href="#" onclick="EnterprisesSubmitAdd()" style="width: 133px;height: 30px;line-height: 30px">
                <span>重置</span>
            </a>
        </div>
    </div>
</div>
<script src="userReset.js"></script>
