<!--用户注册管理-注册成功提示-->
<div class="easyui-dialog" data-options="title:''">
    <div>
        <h2 style="color: black;text-align: center">注册成功</h2>
    </div>
    <div>
        <h2 style="text-align: center">是否继续完善个人信息？</h2>
    </div>
    <div>
        <div class="button" style="margin-top: -1px; margin-right: -2px">
            <a href="#" onclick="EnterprisesSubmitAdd()" style="width: 133px;height: 30px;line-height: 30px">
                <span>否</span>
            </a>
            <a href="#" onclick="EnterprisesSubmitAdd()" style="width: 133px;height: 30px;line-height: 30px">
                <span>是</span>
            </a>
        </div>
    </div>
</div>
<script src="userPrompt.js"></script>
