<!--司机管理-编辑-->
<div class="button">
    <a href="#" onclick="closeDriverEdit()">
        <span>关闭</span>
    </a>
    <a href="#" onclick="submitDriverEdit()">
        <span>提交</span>
    </a>
</div>
<div class="content_id">
    <div class="control-group" style="text-align: left;margin-top: 30px">
        <label>
            <span style="color:#f79449">个人信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>账户名：</span>
            <a id="loginNameDriverEdit"></a>
        </label>
        <label>
            <span>所属物流中心：</span>
            <a id="logCenterDriverEdit"></a>
        </label>
        <label>
            <span>姓名：</span>
            <input id="userNameDriverEdit">
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>身份证号：</span>
            <input id="userIDCardDriverEdit">
        </label>
        <label>
            <span>手机号：</span>
            <input id="userMobileDriverEdit">
        </label>
        <label>
            <span>邮箱：</span>
            <input id="userEmailDriverEdit">
        </label>

    </div>
    <div class="control-view">
        <label style="width:60% ">
            <span>住址：</span>
            <select id="provinceDriverEdit" style="width: 80px">
                <option value="">请选择省</option>
            </select>
            <select id="cityDriverEdit" style="width: 80px">
                <option value="">请选择市</option>
            </select>
            <select id="districtDriverEdit" style="width: 80px">
                <option value="">请选择区</option>
            </select>
            <input id="addressDriverEdit" placeholder="请输入详细地址" style="width: 100px">
        </label>
        <label>
            <span>身份证上传：</span>
            <input id="iDPositiveDriverEdit" type="file" onchange="javascript:uploadIDDriverEdit(this)"
                   style="width: 200px;border: #fff">
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-top: 100px">
        <label>
            <span style="color:#f79449">驾驶信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>驾驶证号：</span>
            <input id="driverLicNoDriverEdit">
        </label>
        <label>
            <span>从业资格证号：</span>
            <input id="roadFrtQCertNoDriverEdit">
        </label>
        <label>
            <span>有效期：</span>
            <input id="driverLicEffectiveDateEndDriverEdit" class="easyui-datebox">
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>发证日期：</span>
            <input id="driverLicIssueDateDriverEdit" class="easyui-datebox">
        </label>
        <label>
            <span>驾驶证上传：</span>
            <input id="driverLicPositiveDriverEdit" type="file"
                   onchange="javascript:uploadDriverLicDriverEdit(this)" style="width: 200px;border: #fff">
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-top: 100px">
        <label>
            <span style="color:#f79449">车辆信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>车牌号：</span>
            <input id="plateNoDriverEdit">
        </label>
        <label>
            <span>车型：</span>
            <input id="vehicleLicSpecificationDriverEdit">
        </label>
        <label>
            <span>发证日期：</span>
            <input id="vehicleLicIssueDateDriverEdit" class="easyui-datebox">
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>年检有效日期：</span>
            <input id="vehicleLicLastestInspEffEndDateDriverEdit" class="easyui-datebox">
        </label>
        <label>
            <span>车辆容积：</span>
            <input id="vehicleCapacityDriverEdit">
        </label>
        <label>
            <span>营运证号：</span>
            <input id="vehicleOPCertNoDriverEdit">
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>车辆尺寸：</span>
            <input id="vehicleLengthDriverEdit" placeholder="长" style="width: 40px;text-align: center">×
            <input id="vehicleWidthDriverEdit" placeholder="宽" style="width: 40px;text-align: center">×
            <input id="vehicleHeightDriverEdit" placeholder="高" style="width: 40px;text-align: center">
        </label>
        <label>
            <span>车辆所属：</span>
            <input id="vehicleOwnerTypeDriverEdit">
        </label>
        <label>
            <span>行驶证上传：</span>
            <input id="vehicleLicPositiveDriverEdit" type="file"
                   onchange="javascript:uploadVehicleLicDriverEdit(this)" style="width: 200px;border: #fff">
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-top: 150px">
        <label>
            <span style="color:#f79449">交保险信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>保险公司：</span>
            <input id="compulsoryInsuranceCompanyDriverEdit">
        </label>
        <label>
            <span>保险单号：</span>
            <input id="compulsoryInsuranceDocNoDriverEdit">
        </label>
        <label>
            <span>保险有效期：</span>
            <input id="compulsoryInsuranceEffectiveEndDateDriverEdit" class="easyui-datebox">
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>保险金额：</span>
            <input id="compulsoryInsuranceAmtDriverEdit">
        </label>
        <label>
            <span>保单上传：</span>
            <input id="compulsoryInsurancePositiveDriverEdit" type="file"
                   onchange="javascript:uploadCompulsoryInsuranceDriverEdit(this)"
                   style="width: 200px;border: #fff">
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-top: 100px">
        <label>
            <span style="color:#f79449">商业险信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>保险公司：</span>
            <input id="commercialInsuranceCompanyDriverEdit">
        </label>
        <label>
            <span>保险单号：</span>
            <input id="commercialInsuranceDocNoDriverEdit">
        </label>
        <label>
            <span>保险有效期：</span>
            <input id="commercialInsuranceEffectiveEndDateDriverEdit" class="easyui-datebox">
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>保险金额：</span>
            <input id="commercialInsuranceAmtDriverEdit">
        </label>
        <label>
            <span>保单上传：</span>
            <input id="commercialInsurancePositiveDriverEdit" type="file"
                   onchange="javascript:uploadCommercialInsuranceDriverEdit(this)"
                   style="width: 200px;border: #fff">
        </label>
    </div>
</div>
<div class="button" style="margin-top: 100px">
    <a href="#" onclick="closeDriverEdit()">
        <span>关闭</span>
    </a>
    <a href="#" onclick="submitDriverEdit()">
        <span>提交</span>
    </a>
</div>

<script src="views/driver/edit/driverEdit.js"></script>
