<!--司机管理-编辑-->
<div class="button">
    <a href="#" onclick="closeDriverEdit()" style="height: 25px;background: white;border: 1px solid #999">
        <span style="color: #000">关闭</span>
    </a>
    <a href="#" onclick="submitDriverEdit()" style="margin-right: 3px">
        <span>提交</span>
    </a>
</div>
<div class="content_id">
    <div class="control-group" style="text-align: left;margin-top: 30px">
        <label>
            <span style="color:#f79449">个人信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>账户名：</span>
            <a id="loginNameDriverEdit"></a>
        </label>
        <label>
            <span>所属物流中心：</span>
            <a id="logCenterDriverEdit"></a>
        </label>
        <label>
            <span><span class="required">*</span>姓名：</span>
            <input id="userNameDriverEdit" type="text"/>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span><span class="required">*</span>身份证号：</span>
            <input id="userIDCardDriverEdit" type="text"/>
        </label>
        <label>
            <span><span class="required">*</span>手机号：</span>
            <input id="userMobileDriverEdit" type="text"/>
        </label>
        <label>
            <span><span class="required">*</span>邮箱：</span>
            <input id="userEmailDriverEdit" type="text"/>
        </label>
    </div>
    <div class="control-view">
        <label style="width:90% ">
            <span><span class="required">*</span>住址：</span>
            <select id="provinceDriverEdit" onchange="changeProvinceDriverEdit(this.value)" style="width: 80px">
                <option value="">请选择省</option>
            </select>
            <select id="cityDriverEdit" onchange="changeCityDriverEdit(this.value)" style="width: 80px">
                <option value="">请选择市</option>
            </select>
            <select id="districtDriverEdit" style="width: 80px">
                <option value="">请选择区</option>
            </select>
            <input id="addressDriverEdit" type="text"/>
        </label>
    </div>
    <div class="control-view">
        <p>
            <span style="text-align: right;float: left;">身份证正<br>面上传：</span>
            <label
                style="display:inline-block;width: 150px;height: 80px;position:relative;text-align:center;border: 1px #999 solid">
                <input type="file" style="display:none" multiple="multiple"
                       onchange="uploadIDPositiveDriverEdit(this)"/>
                <a id="a_iDPositiveDriverEdit" target="_blank">
                    <img id="img_iDPositiveDriverEdit" width="150px" height="80px;" src="../images/fujianimg.png">
                </a>
            </label>
            <button onclick="delIDPositiveDriverEdit()">删除</button>
        </p>
    </div>
    <div class="control-view">
        <p>
            <span style="text-align: right;float: left;">身份证反<span style="width: 10px"></span><br>面上传：</span>
            <label
                style="display:inline-block;width: 150px;height: 80px;position:relative;text-align:center;border: 1px #999 solid">
                <input type="file" style="display:none" multiple="multiple"
                       onchange="uploadIDInverseDriverEdit(this)"/>
                <a id="a_iDInverseDriverEdit" target="_blank">
                    <img id="img_iDInverseDriverEdit" width="150px" height="80px;" src="../images/fujianimg.png">
                </a>
            </label>
            <button onclick="delIDInverseDriverEdit()">删除</button>
        </p>
    </div>
    <div class="control-group" style="text-align: left;margin-top: 130px">
        <label>
            <span style="color:#f79449">驾驶信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span><span class="required">*</span>驾驶证号：</span>
            <input id="driverLicNoDriverEdit" type="text">
        </label>
        <label>
            <span>从业资格证号：</span>
            <input id="roadFrtQCertNoDriverEdit" type="text">
        </label>
        <label>
            <span>有效期：</span>
            <input id="driverLicEffectiveDateEndDriverEdit" class="easyui-datebox">
        </label>
    </div>
    <div class="control-view">
        <label style="width: 90%">
            <span>发证日期：</span>
            <input id="driverLicIssueDateDriverEdit" class="easyui-datebox">
        </label>
    </div>
    <div class="control-view">
        <p>
            <span style="text-align: right;float: left;">驾驶证上传：</span>
            <label
                style="display:inline-block;width: 150px;height: 80px;position:relative;text-align:center;border: 1px #999 solid">
                <input type="file" style="display:none" multiple="multiple"
                       onchange="uploadDriverLicPositiveDriverEdit(this)"/>
                <a id="a_driverLicPositiveDriverEdit" target="_blank">
                    <img id="img_driverLicPositiveDriverEdit" width="150px" height="80px;"
                         src="../images/fujianimg.png">
                </a>
            </label>
            <button onclick="delDriverLicPositiveDriverEdit()">删除</button>
        </p>
    </div>
    <div class="control-group" style="text-align: left;margin-top: 160px">
        <label>
            <span style="color:#f79449">车辆信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span><span class="required">*</span>车牌号：</span>
            <input id="plateNoDriverEdit" type="text"/>
        </label>
        <label>
            <span>车型：</span>
            <input id="vehicleLicSpecificationDriverEdit" type="text"/>
        </label>
        <label>
            <span>发证日期：</span>
            <input id="vehicleLicIssueDateDriverEdit" class="easyui-datebox"/>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>年检有效日期：</span>
            <input id="vehicleLicLastestInspEffEndDateDriverEdit" class="easyui-datebox"/>
        </label>
        <label>
            <span>车辆容积：</span>
            <label>
                <input id="vehicleCapacityDriverEdit" type="text" style="width:130px"/>
                <a>方</a>
            </label>
        </label>
        <label>
            <span>营运证号：</span>
            <input id="vehicleOPCertNoDriverEdit" type="text"/>
        </label>
    </div>
    <div class="control-view" style="margin-top: 32px">
        <label>
            <span>车辆尺寸：</span>
            <label>
                <input id="vehicleLengthDriverEdit" type="text" placeholder="长" style="width: 30px;text-align: center"/>
                <a>×</a>
                <input id="vehicleWidthDriverEdit" type="text" placeholder="宽" style="width: 30px;text-align: center"/>
                <a>×</a>
                <input id="vehicleHeightDriverEdit" type="text" placeholder="高" style="width: 30px;text-align: center"/>
                <a>米</a>
            </label>
        </label>
        <label style="width: 60%">
            <span>车辆所属：</span>
            <select id="vehicleOwnerTypeDriverEdit" style="width: 80px">
                <option value="">请选择</option>
            </select>
        </label>
    </div>
    <div class="control-view">
        <p>
            <span style="text-align: right;float: left;">行驶证上传：</span>
            <label
                style="display:inline-block;width: 150px;height: 80px;position:relative;text-align:center;border: 1px #999 solid">
                <input type="file" style="display:none" multiple="multiple"
                       onchange="uploadVehicleLicPositiveDriverEdit(this)"/>
                <a id="a_vehicleLicPositiveDriverEdit" target="_blank">
                    <img id="img_vehicleLicPositiveDriverEdit" width="150px" height="80px;"
                         src="../images/fujianimg.png">
                </a>
            </label>
            <button onclick="delVehicleLicPositiveDriverEdit()">删除</button>
        </p>
    </div>
    <div class="control-group" style="text-align: left;margin-top: 180px">
        <label>
            <span style="color:#f79449">交强险信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>保险公司：</span>
            <select id="compulsoryInsuranceCompanyDriverEdit" type="text" style="width: 120px">
                <option value="">请选择保险公司：</option>
            </select>
        </label>
        <label>
            <span>保险单号：</span>
            <input id="compulsoryInsuranceDocNoDriverEdit" type="text"/>
        </label>
        <label>
            <span>保险有效期：</span>
            <input id="compulsoryInsuranceEffectiveEndDateDriverEdit" class="easyui-datebox"/>
        </label>
    </div>
    <div class="control-view">
        <label style="width:90%;">
            <span>保险金额：</span>
            <label>
                <input id="compulsoryInsuranceAmtDriverEdit" type="text" style="width:90px"/>
                <a>万</a>
            </label>
        </label>
    </div>
    <div class="control-view">
        <p>
            <span style="text-align: right;float: left;">保单正本上传：</span>
            <label
                style="display:inline-block;width: 150px;height: 80px;position:relative;text-align:center;border: 1px #999 solid">
                <input type="file" style="display:none" multiple="multiple"
                       onchange="uploadCompulsoryInsurancePositiveDriverEdit(this)"/>
                <a id="a_compulsoryInsurancePositiveDriverEdit" target="_blank">
                    <img id="img_compulsoryInsurancePositiveDriverEdit" width="150px" height="80px;"
                         src="../images/fujianimg.png">
                </a>
            </label>
            <button onclick="delCompulsoryInsurancePositiveDriverEdit()">删除</button>
        </p>
    </div>
    <div class="control-view">
        <p>
            <span style="text-align: right;float: left;">保单副本上传：</span>
            <label
                style="display:inline-block;width: 150px;height: 80px;position:relative;text-align:center;border: 1px #999 solid">
                <input type="file" style="display:none" multiple="multiple"
                       onchange="uploadCompulsoryInsuranceInverseDriverEdit(this)"/>
                <a id="a_compulsoryInsuranceInsuranceDriverEdit" target="_blank">
                    <img id="img_compulsoryInsuranceInverseDriverEdit" width="150px" height="80px;"
                         src="../images/fujianimg.png">
                </a>
            </label>
            <button onclick="delCompulsoryInsuranceInverseDriverEdit()">删除</button>
        </p>
    </div>
    <div class="control-group" style="text-align: left">
        <label>
            <span style="color:#f79449">商业险信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>保险公司：</span>
            <select id="commercialInsuranceCompanyDriverEdit" style="width: 120px">
                <option value="">请选择保险公司：</option>
            </select>
        </label>
        <label>
            <span>保险单号：</span>
            <input id="commercialInsuranceDocNoDriverEdit" type="text"/>
        </label>
        <label>
            <span>保险有效期：</span>
            <input id="commercialInsuranceEffectiveEndDateDriverEdit" class="easyui-datebox"/>
        </label>
    </div>
    <div class="control-view">
        <label style="width: 90%">
            <span>保险金额：</span>
            <label>
                <input id="commercialInsuranceAmtDriverEdit" type="text" style="width:90px"/>
                <a>万</a>
            </label>
        </label>
    </div>
    <div class="control-view">
        <p>
            <span style="text-align: right;float: left;">保单正本上传：</span>
            <label
                style="display:inline-block;width: 150px;height: 80px;position:relative;text-align:center;border: 1px #999 solid">
                <input type="file" style="display:none" multiple="multiple"
                       onchange="uploadCommercialInsuranceDriverEdit(this)"/>
                <a id="a_commercialInsurancePositiveDriverEdit" target="_blank">
                    <img id="img_commercialInsurancePositiveDriverEdit" width="150px" height="80px;"
                         src="../images/fujianimg.png">
                </a>
            </label>
            <button onclick="delCommercialInsurancePositiveDriverEdit()">删除</button>
        </p>
    </div>
    <div class="control-view">
        <p>
            <span style="text-align: right;float: left;">保单副本上传：</span>
            <label
                style="display:inline-block;width: 150px;height: 80px;position:relative;text-align:center;border: 1px #999 solid">
                <input type="file" style="display:none" multiple="multiple"
                       onchange="uploadCommercialInsuranceInverseDriverEdit(this)"/>
                <a id="a_commercialInsuranceInverseDriverEdit" target="_blank">
                    <img id="img_commercialInsuranceInverseDriverEdit" width="150px" height="80px;"
                         src="../images/fujianimg.png">
                </a>
            </label>
            <button onclick="delCommercialInsuranceInverseDriverEdit()">删除</button>
        </p>
    </div>
</div>
<div class="button" style="margin-top: 150px">
    <a href="#" onclick="closeDriverEdit()" style="height: 25px;background: white;border: 1px solid #999">
        <span style="color: #000">关闭</span>
    </a>
    <a href="#" onclick="submitDriverEdit()" style="margin-right: 3px">
        <span>提交</span>
    </a>
</div>

<script src="views/driver/edit/driverEdit.js"></script>
