<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>tms项目图标</title>
    <link href="icon.css" rel="stylesheet" type="text/css">

    <style>
        fieldset {
            border: 1px solid #ccc;
            float: left;
			margin-bottom:30px;
        }

        ul {
            display: inline-block;
            padding: 0px;
            margin: 0;
        }

            ul li {
                float: left;
                padding: 10px;
                list-style: none;
                text-align: center;
            }

        fieldset:nth-child(5n) ul {
            background: #808080;
        }

        ul li span {
            display: block;
			color:#fff;
        }

            ul li span:nth-child(3) {
                font-size: 10px;
                color: #ccc;
            }
    </style>
</head>

<body style="background-color:#000;">
    <fieldset>
        <legend  style="color:#fff;">左侧栏顶部栏通用</legend>
        <ul>
            <li title="我的首页图标">
                <i class="tms-wed-i-tongyong tms-web-shouye"></i><span>tms-web-shouye</span><span>我的首页</span>
            </li>
            <li title="客户管理图标">
                <i class="tms-wed-i-tongyong tms-web-kehu"></i><span>tms-web-kehu</span><span>客户管理</span>
            </li>
            <li title="司机管理图标">
                <i class="tms-wed-i-tongyong tms-web-siji"></i><span>tms-web-siji</span><span>司机管理</span>
            </li>
            <li title="调度管理图标">
                <i class="tms-wed-i-tongyong tms-web-diaodu"></i><span>tms-web-diaodu</span><span>调度管理</span>
            </li>
            <li title="运单管理图标">
                <i class="tms-wed-i-tongyong tms-web-yundan"></i><span>tms-web-yundan</span><span>运单管理</span>
            </li>
            <li title="监控管理图标">
                <i class="tms-wed-i-tongyong tms-web-jiankong"></i><span>tms-web-jiankong</span><span>监控管理</span>
            </li>
            <li title="注销登录图标">
                <i class="tms-wed-i-tongyong  tms-web-zhuxiao"></i><span>tms-web-zhuxiao</span><span>注销登录</span>
            </li>
            <li title="修改密码图标">
                <i class="tms-wed-i-tongyong tms-web-xiugai"></i><span>tms-web-xiugai</span><span>修改密码</span>
            </li>
            <li title="右箭头图标">
                <i class="tms-wed-i-tongyong tms-web-right"></i><span>tms-web-right</span><span>右箭头</span>
            </li>
            <li title="上箭头图标">
                <i class="tms-wed-i-tongyong tms-web-top"></i><span>tms-web-top</span><span>上箭头</span>
            </li>
            <li title="个人中心图标">
                <i class="tms-wed-i-tongyong tms-web-geren"></i><span>tms-web-geren</span><span>个人中心</span>
            </li>
            <li title="关闭图标">
                <i class="tms-wed-i-tongyong tms-web-guanbi"></i><span>tms-web-guanbi</span><span>关闭</span>
            </li>
            <li title="新增图标">
                <i class="tms-wed-i-tongyong tms-web-xinzeng"></i><span>tms-web-xinzeng</span><span>新增</span>
            </li>
            <li title="禁用图标">
                <i class="tms-wed-i-tongyong tms-web-jinyong"></i><span>tms-web-jinyong</span><span>禁用</span>
            </li>
            </ul>
    </fieldset>
     <fieldset>
        <legend  style="color:#fff;">调度管理</legend>
        <ul>
            <li title="查询">
                <i class="tms-wed-i-diaodu tms-web-chaxun"></i><span>tms-web-chaxun</span><span>查询</span>
            </li>
            <li title="派单">
                <i class="tms-wed-i-diaodu tms-web-paidan"></i><span>tms-web-paidan</span><span>派单</span>
            </li> <li title="接单">
                <i class="tms-wed-i-diaodu tms-web-jiedan"></i><span>tms-web-jiedan</span><span>接单</span>
            </li>
            <li title="取消">
                <i class="tms-wed-i-diaodu tms-web-quxiao"></i><span>tms-web-quxiao</span><span>取消</span>
            </li>
             <li title="改单">
                <i class="tms-wed-i-diaodu tms-web-gaidan"></i><span>tms-web-gaidan</span><span>改单</span>
            </li>
             <li title="编辑">
                <i class="tms-wed-i-diaodu tms-web-bianji"></i><span>tms-web-bianji</span><span>编辑</span>
            </li>
            
            <li title="关闭">
                <i class="tms-wed-i-diaodu tms-web-guanbi"></i><span>tms-web-guanbi</span><span>gunabi</span>
            </li>
           
            <li title="跟踪详情">
                <i class="tms-wed-i-diaodu tms-web-genzong"></i><span>tms-web-genzong</span><span>跟踪详情</span>
            </li>
           
            <li title="运单详情">
                <i class="tms-wed-i-diaodu tms-web-yundan"></i><span>tms-web-yundan</span><span>运单详情</span>
            </li>
            <li title="评价详情">
                <i class="tms-wed-i-diaodu tms-web-pingjia"></i><span>tms-web-pingjia</span><span>评价详情</span>
            </li>
             <li title="改派">
                <i class="tms-wed-i-diaodu tms-web-gaipai"></i><span>tms-web-gaipai</span><span>改派</span>
            </li>
            
        </ul>
    </fieldset>
    
   
  
  
  
    



</body>
</html>
