<!--用户注册管理-详情-->
<div class="content_id" style="width: 100%;height: 100%">
    <div class="content_left">
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 42px">
                <span>账户名：</span>
                <a id="accountNameUserDetail"></a>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 30px">
                <span>所属公司：</span>
                <a id="companyUserDetail"></a>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 54px">
                <span>姓名：</span>
                <a id="nameUserDetail"></a>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 30px">
                <span>身份证号：</span>
                <a id="identifyNumberUserDetail"></a>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 54px">
                <span>手机：</span>
                <a id="phoneNumberUserDetail"></a>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 54px">
                <span>邮箱：</span>
                <a id="emailUserDetail"></a>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 54px">
                <span>学历：</span>
                <a id="educationUserDetail"></a>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 54px">
                <span>岗位：</span>
                <a id="postUserDetail"></a>
            </label>
        </div>
    </div>
</div>

<script src="views/user/detail/userDetail.js"></script>
