<!--用户注册管理-详情-->
<div class="content_id">
    <div class="content_left">
        <div class="control-group">
            <label>
                账户名： <span></span>
            </label>
        </div>
        <div class="control-group">
            <label>
                所属公司： <span id="companyUserDetail"></span>
            </label>
        </div>
        <div class="control-group">
            <label>
                姓名： <span id="nameUserDetail"></span>
            </label>
        </div>
        <div class="control-group">
            <label>
                身份证号： <span id="identifyNumberUserDetail"></span>
            </label>
        </div>
        <div class="control-group">
            <label>
                手机： <span id="phoneNumberUserDetail"></span>
            </label>
        </div>
        <div class="control-group">
            <label>
                邮箱： <span id="emailUserDetail"></span>
            </label>
        </div>
        <div class="control-group">
            <label>
                学历： <span id="educationUserDetail"></span>
            </label>
        </div>
        <div class="control-group">
            <label>
                岗位： <span></span>
            </label>
        </div>
    </div>
</div>
<script src="userDetail.js"></script>
