<!--用户注册管理-详情-->
<div class="content_id" style="width: 100%;height: 100%">
    <div class="content_left">
        <div class="control-group" style="text-align: left">
            <label >
                账户名： <span id="accountNameUserDetail"></span>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label>
                所属公司： <span id="companyUserDetail"></span>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label>
                姓名： <span id="nameUserDetail"></span>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label>
                身份证号： <span id="identifyNumberUserDetail"></span>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label>
                手机： <span id="phoneNumberUserDetail"></span>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label>
                邮箱： <span id="emailUserDetail"></span>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label>
                学历： <span id="educationUserDetail"></span>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label>
                岗位： <span id="postUserDetail"></span>
            </label>
        </div>
    </div>
</div>

<script src="views/user/detail/userDetail.js"></script>
