<div class="content_id">
    <div class="control-view ">
        <label style="padding-left: 0%; margin-top: -10px;">
            <span> <span class="required">*</span>下单公司：</span>
            <select id="ceOrgCodeSinger">
            <option value="">请选择下单公司</option>
        </select>
        </label>
    </div>
    <div class="control-group "style="text-align: left;margin-top: 30px">
        <label >
            <span style="color:#f79449 ;">寄件信息</span>
        </label>
    </div>
    <div class="cut-off-rule " >
    </div>
    <div class="control-view ">
        <label style="padding-left: 0%;">
            <span><span class="required">*</span>寄件人：</span>
            <input type="text" id="senderContactNameSinger"/>
        </label>
        <label style="padding-left: 0%;">
            <span><span class="required">*</span>手机：</span>
           <input type="text" id="senderMobileSinger"/>
        </label>
        <label style="padding-left: 0%;">
            <span><span class="required">*</span>单位：</span>
            <input type="text" id="senderCompanySinger"/>
        </label>
    </div>
    <div class="control-view ">
        <label style="padding-left: 0%;width: 46%">
            <span><span class="required">*</span>地址：</span>
            <select  id="senderProvinceCodeSinger"onchange="changeSenderProvince(this.value)"  style="width: 70px ;color:#999">
            <option value="">请选择省</option>
        </select>
            <select   id="senderCityCodeSinger" style="width: 70px;color:#999" onchange="changeSenderCity(this.value)">
                <option value="">请选择市</option>
            </select>
            <select  id="senderDistrictCodeSinger" style="width: 70px;color:#999">
                <option value="">请选择区</option>
            </select>
            <input style="width: 100px" id="senderAddressSinger"/>
        </label>
    </div>
    <div class="control-group "style="text-align: left;margin-top: 45px">
        <label >
            <span style="color:#f79449 ;">收件信息</span>
        </label>
    </div>
    <div class="cut-off-rule" >
    </div>
    <div class="control-view ">
        <label style="padding-left: 0%;">
            <span><span class="required">*</span>收件人：</span>
            <input type="text" id="receiverContactNameSinger"/>
        </label>
        <label style="padding-left: 0%;">
            <span><span class="required">*</span>手机：</span>
            <input type="text" id="receiverMobileSinger"/>
        </label>
        <label style="padding-left: 0%;">
            <span><span class="required">*</span>单位：</span>
            <input type="text" id="receiverCompanySinger"/>
        </label>
    </div>
    <div class="control-view ">
        <label style="padding-left: 0%;width: 46%">
            <span><span class="required">*</span>地址：</span>
            <select id="receiverProvinceCodeSinger" onchange="changeReceiveProvince(this.value)" style="width: 70px ;color:#999">
            <option value="">请选择省</option>
        </select>
            <select id="receiverCityCodeSinger" style="width: 70px;color:#999" onchange="changeReceiveCity(this.value)">
                <option value="">请选择市</option>
            </select>
            <select  id="receiverDistrictCodeSinger" style="width: 70px;color:#999">
                <option value="">请选择区</option>
            </select>
            <input  style="width: 100px" id="receiverAddressSinger"/>
        </label>
    </div>
    <div class="control-group "style="text-align: left;margin-top: 45px">
        <label >
            <span style="color:#f79449 ;">器械包信息</span>
        </label>
    </div>
    <div class="cut-off-rule "  >
    </div>
    <div class="control-view ">
        <label style="padding-left: 0%;">
            <span><span class="required">*</span>最晚送达时间：</span>
            <input class="easyui-datebox"  id="reqDeliveryDateSinger" style="width: 100px"/>
            <select style="width: 60px" id="appendTimeSinger"></select>
        </label>
        <label style="padding-left: 0%;">
            <span>患者：</span>
             <input id="patientNameSinger"/>
        </label>
        <label style="padding-left: 0%;">
            <span>床号：</span>
            <input id="patientHPBedNoSinger"/>
        </label>
    </div>
    <div class="control-view ">
        <label style="padding-left: 0%;clear:left;width: 60%">
           <span  style="float: left">特殊要求：</span>
            <textarea   style="width: 320px"  id="customerSpecialNoteSinger"></textarea>
        </label>
    </div>
    <div class="control-view ">
        <label  style="padding-left: 0%;">
            <span>住院号：</span>
            <input  id="patientHPNoSinger"/>
        </label>
    </div>
    <div class="control-view ">
        <div class="button"  style="margin-top: 20px; margin-right: -2px">
            <a href="#" class="group" onclick="SingerSubmitClose()" style="width: 80px;height: 30px;line-height: 30px">
                <span>关闭</span>
            </a>
            <a href="#" class="group" onclick="SingerSubmitAdd()" style="width: 80px;height: 30px;line-height: 30px">
                <span>提交</span>
            </a>
        </div>
    </div>
</div>
<script src="views/400orders/recordedSingle/singer.js"></script>
