<!--用户注册管理-编辑-->
<div class="content_id">
    <div class="content_left">
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 36px">
                <span>账户名：</span>
                <a id="loginNameUserEdit"></a>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 24px">
                <span>所属公司：</span>
                <a id="companyUserEdit"></a>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 54px">
                <span><span class="required">*</span>姓名：</span>
                <input id="userNameUserEdit" style="width: 200px"/>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 30px">
                <span><span class="required">*</span>身份证号： </span>
                <input id="userIDCardUserEdit" style="width: 200px"/>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 54px">
                <span><span class="required">*</span>手机：</span>
                <input id="userMobileUserEdit" style="width: 200px"/>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 48px">
                <span>邮箱：</span>
                <input id="userEmailUserEdit" style="width: 200px"/>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 54px">
                <span><span class="required">*</span>学历：</span>
                <select id="educationUserEdit" style="width: 200px">
                    <option value="">请选择</option>
                </select>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 48px">
                <span>岗位：</span>
                <input id="postUserEdit" style="width: 200px"/>
            </label>
        </div>
        <div class="control-group">
            <div class="button">
                <a href="#" onclick="returnUserEdit()" style="width: 100px;height: 30px;margin-left: 17px">
                    <span>返回</span>
                </a>
                <a href="#" onclick="submitUserEdit()" style="width: 100px;height: 30px">
                    <span>提交</span>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="views/user/edit/userEdit.js"></script>
