<!--用户注册管理-编辑-->
<div class="content_id">
    <div class="content_left">
        <div class="control-group">
            <label style="margin-right: 215px">
                账户名： <span id="accountNameUserEdit"></span>
            </label>
        </div>
        <div class="control-group">
            <label style="margin-right: 215px">
                所属公司： <span id="companyUserEdit"></span>
            </label>
        </div>
        <div class="control-group">
            <label>
                姓名： <input class="easyui-textbox" id="nameUserEdit"/>
            </label>
        </div>
        <div class="control-group">
            <label>
                身份证号： <input class="easyui-textbox" id="identifyNumberUserEdit"/>
            </label>
        </div>
        <div class="control-group">
            <label>
                手机： <input class="easyui-textbox" id="phoneNumberUserEdit"/>
            </label>
        </div>
        <div class="control-group">
            <label>
                邮箱： <input class="easyui-textbox" id="emailUserEdit"/>
            </label>
        </div>
        <div class="control-group">
            <label style="margin-right: 112px">
                学历：
                <select class="easyui-combobox" id="educationUserEdit" style="width: 100px;color:#999">
                    <option value="">本科</option>
                </select>
            </label>
        </div>
        <div class="control-group">
            <label style="margin-right: 112px">
                岗位：
                <select class="easyui-combobox" id="postUserEdit" style="width: 100px;color:#999">
                    <option value="">职员</option>
                </select>
            </label>
        </div>
        <div class="control-group ">
            <div class="button" style="margin-top: -1px; margin-right: -2px">
                <a href="#" onclick="" style="width: 100px;height: 30px;line-height: 30px;margin-left: 15px">
                    <span>返回</span>
                </a>
                <a href="#" onclick="submitUserEdit()" style="width: 100px;height: 30px;line-height: 30px">
                    <span>提交</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="userEdit.js"></script>
