<!--用户注册管理-编辑-->
<div class="content_id">
    <div class="content_left">
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 36px">
                <span>账户名：</span>
                <a id="loginNameUserEdit"></a>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 24px">
                <span>所属公司：</span>
                <a id="companyUserEdit"></a>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 54px">
                <span><span class="required">*</span>姓名：</span>
                <input id="userNameUserEdit" type="text" style="width: 200px"/>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 30px">
                <span><span class="required">*</span>身份证号： </span>
                <input id="userIDCardUserEdit" type="text" style="width: 200px"/>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 54px">
                <span><span class="required">*</span>手机：</span>
                <input id="userMobileUserEdit" type="text" style="width: 200px"/>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 48px">
                <span>邮箱：</span>
                <input id="userEmailUserEdit" type="text" style="width: 200px"/>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 54px">
                <span><span class="required">*</span>学历：</span>
                <select id="educationUserEdit" style="width: 200px">
                    <option value="">请选择</option>
                </select>
            </label>
        </div>
        <div class="control-group" style="text-align: left">
            <label style="margin-left: 48px">
                <span>岗位：</span>
                <input id="postUserEdit" type="text" style="width: 200px"/>
            </label>
        </div>
        <div class="control-group">
            <div class="button" style="margin-top:1px;margin-right: 98px">
                <a href="#" onclick="returnUserEdit()"
                   style="height: 25px;background: white;border: 1px solid #999;margin-left: 3px">
                    <span style="color: #000">返回</span>
                </a>
                <a href="#" onclick="submitUserEdit()">
                    <span>提交</span>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="views/user/edit/userEdit.js"></script>
