
<div class="content_id">
    <div class="navigation-body">
       <div class="navigation-cut" style="margin-left: 30px" id="orderDetail" onclick="orderDetailShow()">
            <a id="orderDetail_Span" href="#">运单详情</a>
       </div>
        <div class="navigation-cut" id="trackRecord" onclick="trackRecordShow()">
           <a id="trackRecord_Span" href="#">跟踪记录</a>
        </div>
        <div class="navigation-cut" id="orderPassBox" onclick="orderPassBox()">
            <a id="orderPassBox_Span" href="#">运单周转箱</a>
        </div>
        <div class="navigation-cut" id="assessmentDetails" onclick="assessmentDetailsShow()">
            <a id="assessmentDetails_Span" href="#">评价详情</a>
        </div>

    </div>
    <div  id="orderDetailShow" >
        <div class="control-group "style="text-align: left;margin-top: 10px">
            <label>
                <span style="color:#f79449 ;margin-left:20px">基本信息</span>
                <span style="color:#f79449 ;margin-left:20px" id="consignmentNoDetailsShow"></span>
            </label>
        </div>
        <div class="cut-off-rule " >
        </div>
        <div class="control-view ">
            <label>
                <span>下单公司：</span>
                <a id="ceorgnameOrderDetail"></a>
            </label>
            <label>
                <span>物流中心：</span>
                <a id="lcorgnameOrderDetail"></a>
            </label>
            <label>
                <span>下单时间：</span>
                <a  id="createDateOrderDetail" ></a>
            </label>
        </div>
        <div class="control-view ">
            <label>
                <span>司机：</span>
                <a id="pickupdriverbynameOrderDetail"></a>
            </label>
            <label>
                <span>调度：</span>
                <a id="dispatchbynameOrderDetail"></a>
            </label>
            <label>
                <span>下单人：</span>
                <a id="submitbynameOrderDetail"></a>
            </label>
        </div>
        <div class="control-view ">
            <label>
                <span>提货密码：</span>
                <a  id="deliverySignaturePasswordOrderDetail"></a>
            </label>
            <!--<label>-->
                <!--<span>更新人：</span>-->
                <!--<a id="updatebynameOrderDetail"></a>-->
            <!--</label>-->
            <!--<label>-->
                <!--<span>更新时间：</span>-->
                <!--<a id="updateDateOrderDetail" ></a>-->
            <!--</label>-->
        </div>
        <div class="control-group "style="text-align: left;margin-top: 60px">
            <label>
                <span style="color:#f79449 ;margin-left:20px">寄件信息</span>
            </label>
        </div>
        <div class="cut-off-rule " >
        </div>
        <div class="control-view ">
            <label>
                <span>寄件人：</span>
                <a id="senderContactNameOrderDetail"></a>
            </label>
            <label>
                <span>手机：</span>
                <a id="senderMobileOrderDetail"></a>
            </label>
            <label>
                <span>单位：</span>
                <a id="senderCompanyOrderDetail"></a>
            </label>
        </div>
        <div class="control-view ">
            <label style="width: 100%">
                <span>地址：</span>
                <a id="senderAddressOrderDetail"></a>
            </label>
        </div>
        <div class="control-view ">
        <label style="width: 60%">
                <span>特殊要求：</span>
                <a id="customerSpecialNoteOrderDetail"></a>
            </label>
            <label>
            <span>留言：</span>
                  <div style="float: left">
                     <audio controls="controls"  src=" " id="recordOrderDetail"></audio>
                  </div>
            </label>
        </div>
        <div class="control-group "style="text-align: left;margin-top: 40px">
            <label>
                <span style="color:#f79449 ;margin-left:20px">收件信息</span>
            </label>
        </div>
        <div class="cut-off-rule " >
        </div>
        <div class="control-view ">
            <label>
                <span>收件人：</span>
                <a id="receiverContactNameOrderDetail"></a>
            </label>
            <label>
                <span>手机：</span>
                <a id="receiverMobileOrderDetail"></a>
            </label>
            <label>
                <span>单位：</span>
                <a id="receiverCompanyOrderDetail"></a>
            </label>
        </div>
        <div class="control-view ">
            <label  style="width: 60%">
                <span>地址：</span>
                <a id="receiverAddressOrderDetail"></a>
            </label>
        </div>
        <div class="control-group "style="text-align: left;margin-top: 40px">
            <label>
                <span style="color:#f79449;margin-left:20px">器械包信息</span>
            </label>
        </div>
        <div class="cut-off-rule " >
        </div>
        <div class="control-view ">
            <label>
                <span>患者：</span>
                <a id="patientNameOrderDetail"></a>
            </label>
            <label>
                <span>床号：</span>
                <a id="patientHPBedNoOrderDetail"></a>
            </label>
            <label>
                <span>住院号：</span>
                <a id="patientHPNoOrderDetail"></a>
            </label>
        </div>

    </div>
    <div id="trackRecordShow">
        <div class="order_detai_bode">
            <table id="trackRecordList"    toolbar="#toolbar" width="90%"  style="color: #fff;" >
                <thead>
                <tr>
                    <th field="eventOpDate" title="eventOpDate" align="left" >日期</th>
                    <th field="eventCodeName" title="eventCodeName" align="left" >操作</th>
                    <th field="eventOpByName" title="eventOpByName" align="left">操作员</th>
                    <th field="eventOpByOrgName" title="eventOpByOrgName" align="left"  >操作组织</th>
                    <th field="internalRemark1" title="internalRemark1" align="left" width="100">备注</th>
                </tr>
                </thead>
            </table>
         </div>
    </div>
    <div id="assessmentDetailsShow">
         <div class="order_detai_bode">
             <div class="control-view ">
                 <label style="width: 100%">
                   <span>总体评分：</span>
                     <a id="dvvcode1nameOrderDetail"></a>
                 </label>
             </div>
             <div class="control-view">
                 <label  style="width:100%">
                    <span>评论：</span>
                     <a id="remarkOrderDetail"></a>
                 </label>
             </div>
             <div class="control-view">
                 <label  style="width:100%">
                     <span>附图：</span>
                     <div id="imgList">
                         <div class="imgViewCO">
                         </div>
                     </div>
                 </label>
             </div>
             <div class="control-view">
                 <label  style="width:100%">
                     物流服务评价
                 </label>
             </div>
             <div class="control-view">
                 <label  style="width: 100%">
                     <span>形象：</span>
                     <a id="dvvcode2nameOrderDetail"></a>
                 </label>
             </div>
             <div class="control-view">
                 <label  style="width: 100%">
                     <span>态度：</span>
                     <a id="dvvcode3nameOrderDetail"></a>
                 </label>
             </div>
             <div class="control-view">
                 <label  style="width: 100%">
                     <span>操作规范：</span>
                     <a id="dvvcode4nameOrderDetail"></a>
                 </label>
             </div>
         <div class="control-view">
             <label  style="width: 100%">
                 <span>车容车貌：</span>
                 <a id="dvvcode5nameOrderDetail"></a>
             </label>
         </div>
     </div>
     </div>
    <div id="orderPassBoxShow">
        <span></span>
        <div class="order_detai_bode">
            <table id="orderPassBoxList"    toolbar="#toolbar" min-width="900"  style="color: #fff;" >
                <!--<thead frozen="true" data-options="frozen:true">-->
                <thead frozen="true">
                </thead>
                <thead>
                <tr>
                    <th field="consignmentLgCtnNo" title="consignmentLgCtnNo" align="left" width="150">运单箱序号</th>
                    <th field="lgctnltbarcode" title="lgctnltbarcode" align="left" width="100">箱号</th>
                    <th field="sealNo1" title="sealNo1" align="left" width="100">封签号（1）</th>
                    <th field="sealNo2" title="sealNo2" align="left"  width="100" >封签号（2）</th>
                    <th field="gpsdevicebarcode" title="gpsdevicebarcode" align="left" width="100">GPS设备号</th>
                    <th field="statusName" title="statusName" align="left" width="100">状态</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="views/dispatchingManagement/dispatch/view/dispatchview.js"></script>
