<div class="content_id">
    <div class="content_left">
        <div class="control-group "style="text-align: left">
            <label>
                <span style="width:85px;text-align: right;float: left;">企业客户编号：</span>
                 <a id="cECodeEnterprisesView"></a>
            </label>
        </div>
        <div class="control-group "style="text-align: left">
            <label>
                <span style="width:85px;text-align: right;float: left;">营业执照证号：</span>
                 <a id="corpRegNoEnterprisesView"></a>
            </label>
        </div>
        <div class="control-group "style="text-align: left">
            <label>
                <span style="width:85px;text-align: right;float: left;"> 企业名称：</span>
                <a id="cENameEnterprisesView"></a>
            </label>
        </div>
        <div class="control-group "style="text-align: left">
            <label>
                <span style="width:85px;text-align: right;float: left;"> 注册地址：</span>
                <a id="corpRegProvinceCodeEnterprisesView"></a><a id="corpRegCityCodeEnterprisesView"></a><a id="corpRegDistrictCodeEnterprisesView"></a>
              <a id="corpRegAddressEnterprisesView"></a>
            </label>
        </div>
        <div class="control-group "style="text-align: left">
            <label>
                <span style="width:85px;text-align: right;float: left;">企业法人：</span>
               <a id="corpRegLegalRepEnterprisesView"></a>
            </label>
        </div>
        <div class="control-group"style="text-align: left">
            <label>
                <span style="width:85px;text-align: right;float: left;">营业期限从： </span>
                 <a id="corpRegBizStartDateEnterprisesView"></a>
            </label>
        </div>
        <div class="control-group "style="text-align: left">
            <label>
                <span style="width:85px;text-align: right;float: left;">至：</span>
               <a id="corpRegBizEndDateEnterprisesView"></a>
            </label>
        </div>
        <div class="control-group "style="text-align: left">
            <label>
                <span style="width:85px;text-align: right;float: left;">营业执照正本：</span>
                <div class="imgViewCO" onclick="imgViewCObgShow()">
                </div>
            </label>
        </div>
        <div class="control-group "style="text-align: left">
            <label>
                <span style="width:85px;text-align: right;float: left;">营业执照副本：</span>
                <div class="imgViewCC" onclick="imgViewCCbgShow()">
                </div>
            </label>
        </div>
    </div>
    <div class="content_right" >
    </div>
</div>
<script src="views/enterprises/view/EnterprisesView.js"></script>
