<div class="content_id">
    <div class="content_left">
        <div class="control-group "style="text-align: left">
            <label>
                企业客户编号： <span id="cECodeEnterprisesView"></span>
            </label>
        </div>
        <div class="control-group "style="text-align: left">
            <label>
                营业执照证号： <span id="corpRegNoEnterprisesView"></span>
            </label>
        </div>
        <div class="control-group "style="text-align: left">
            <label>
                企业名称：<span id="cENameEnterprisesView"></span>
            </label>
        </div>
        <div class="control-group "style="text-align: left">
            <label>
                注册地址：<span id="corpRegProvinceCodeEnterprisesView"></span><span id="corpRegCityCodeEnterprisesView"></span><span id="corpRegDistrictCodeEnterprisesView"></span>
              <span id="corpRegAddressEnterprisesView"></span>
            </label>
        </div>
        <div class="control-group "style="text-align: left">
            <label>
                企业法人 ：<span id="corpRegLegalRepEnterprisesView"></span>
            </label>
        </div>
        <div class="control-group"style="text-align: left">
            <label>
                营业期限从:  <span id="corpRegBizStartDateEnterprisesView"></span>
            </label>
        </div>
        <div class="control-group "style="text-align: left">
            <label>
                至:<span id="corpRegBizEndDateEnterprisesView"></span>
            </label>
        </div>
        <div class="control-group "style="text-align: left">
            <label>
                营业执照:
                <div id="imgList">
                    <div class="imgViewCO">
                    </div>
                    <div class="imgViewCC">
                    </div>
                </div>
            </label>
        </div>
    </div>
    <div class="content_right" >
    </div>
</div>
<script src="views/enterprises/view/EnterprisesView.js"></script>
