<div class="content_id">
    <div class="content_left">
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                企业客户编号： <input  type="text" id="cECodeEnterprisesAdd"  placeholder="三位数字或大写字母" keyup="value=value.replace(/[^\w\.\/]/ig,'')" maxlength="3" />
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                营业执照证号： <input  type="text" id="corpRegNoEnterprisesAdd" />
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                企业名称： <input type="text" id="cENameEnterprisesAdd" />
            </label>
        </div>
        <div class="control-group">
            <label>
                <span class="required">*</span>
                注册地址：
                <select   onchange="changeProvince(this.value)"  id="corpRegProvinceCodeEnterprisesAdd" style="width: 70px ;color:#999">
                <option value="">请选择省</option>
                </select>
                <select   id="corpRegCityCodeEnterprisesAdd" style="width: 70px;color:#999" onchange="changeCity(this.value)">
                    <option value="">请选择市</option>
                </select>
                <select  id="corpRegDistrictCodeEnterprisesAdd" style="width: 70px;color:#999">
                    <option value="">请选择区</option>
                </select>
            </label>
        </div>
        <div class="control-group ">
            <label>
                <input  type="text" id="corpRegAddressEnterprisesAdd"  placeholder="请输入详细地址" style="width: 215px;"/>
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                企业法人：<input type="text" id="corpRegLegalRepEnterprisesAdd" />
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                营业期限从：<input type="text" class="easyui-datebox" id="corpRegBizStartDateEnterprisesAdd"   />
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                至：<input type="text" class="easyui-datebox" id="corpRegBizEndDateEnterprisesAdd" />
            </label>
        </div>
        <div class="control-group ">
            <span style="text-align: right;float: left;margin-left: 110px">营业执照正本：</span>
            <label   style="display:inline-block;width: 150px;height: 150px;position:relative;text-align:center;border: 1px #999 solid">
                <input type="file"id="attachmentCOEndDateEnterprisesAdd" onchange="javascript:aaa(this);" style="display:none" multiple="multiple"/>
              <a id="imgListCOa" target="_blank"><img id="imgListCO"  width="150px" height="150px;"src="../images/fujianimg.png"></a>
            </label>
            <button onclick="deleteattachmentCO()">删除</button>
        </div>
        <div class="control-group ">
            <span style="text-align: right;float: left;margin-left: 110px">营业执照副本：</span>
            <label style="display:inline-block;width: 150px;height: 150px;position:relative;text-align:center;border: 1px #999 solid">
                <input type="file"id="attachmentCCEndDateEnterprisesAdd" onchange="javascript:bbb(this);" style="display:none" multiple="multiple"/>
                <a id="imgListCCa" target="_blank"><img id="imgListCC"  width="150px" height="150px;"src="../images/fujianimg.png"></a>
            </label>
            <button onclick="deleteattachmentCC()">删除</button>
        </div>
        <div class="control-group ">
            <div class="button"  style="margin-top: -1px; margin-right: -2px">
                <a href="#" class="group" onclick="EnterprisesSubmitClose()" style="width: 80px;height: 30px;line-height: 30px">
                    <span>关闭</span>
                </a>
                <a href="#" onclick="EnterprisesSubmitAdd()" style="width: 80px;height: 30px;line-height: 30px">
                    <span>提交</span>
                </a>
            </div>
        </div>
    </div>
    <div class="content_right" >
    </div>
</div>
<script src="views/enterprises/add/enterprisesAdd.js"></script>
