<div class="content_id">
    <div class="content_left">
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                企业客户编号： <input  id="cECodeEnterprisesAdd"  placeholder="三位数字或大写字母" keyup="value=value.replace(/[^\w\.\/]/ig,'')" maxlength="3" />
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                营业执照证号： <input id="corpRegNoEnterprisesAdd" />
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                企业名称： <input   id="cENameEnterprisesAdd" />
            </label>
        </div>
        <div class="control-group">
            <label>
                <span class="required">*</span>
                注册地址：<select   onchange="changeProvince(this.value)"  id="corpRegProvinceCodeEnterprisesAdd" style="width: 70px ;color:#999">
                <option value="">请选择省</option>
            </select>
                <select   id="corpRegCityCodeEnterprisesAdd" style="width: 70px;color:#999" onchange="changeCity(this.value)">
                    <option value="">请选择市</option>
                </select>
                <select  id="corpRegDistrictCodeEnterprisesAdd" style="width: 70px;color:#999">
                    <option value="">请选择区</option>
                </select>
            </label>
        </div>
        <div class="control-group ">
            <label>
                <input  id="corpRegAddressEnterprisesAdd"  placeholder="请输入详细地址"/>
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                企业法人  <input  id="corpRegLegalRepEnterprisesAdd" />
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                营业期限从:  <input  class="easyui-datebox" id="corpRegBizStartDateEnterprisesAdd"   />
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                至:  <input  class="easyui-datebox" id="corpRegBizEndDateEnterprisesAdd" />
            </label>
        </div>
        <div class="control-group ">
            <form>
                营业执照正本:
                <input type="file"id="attachmentCOEndDateEnterprisesAdd" onchange="javascript:aaa(this);" style="width: 200px;border: #fff" multiple="multiple"/>
                <button onclick="deleteattachmentCO()">删除</button>
            </form>
            <div  class="imgList"  >
                <div class="imgListCO">
                </div>
            </div>
        </div>

        <div class="control-group ">
            <form>
                营业执照副本:
                <input type="file"id="attachmentCCEndDateEnterprisesAdd" onchange="javascript:bbb(this);" style="width: 200px;border: #fff" multiple="multiple"/>
                <button onclick="deleteattachmentCC">删除</button>
            </form>
            <div  id="imgList"  >
                <div class="imgListCC">
                </div>
            </div>
        </div>

        <div class="control-group ">
            <div class="button"  style="margin-top: -1px; margin-right: -2px">
                <a href="#"onclick="EnterprisesSubmitAdd()" style="width: 133px;height: 30px;line-height: 30px">
                    <span>提交</span>
                </a>
            </div>
        </div>
    </div>
    <div class="content_right" >
    </div>
</div>
<script src="views/enterprises/add/enterprisesAdd.js"></script>
