<div>
    <h1>datagrid 示例</h1>


    <input id="searchbox" style="width: 30%"></input>
    <div id="search-single-cloumn" style="width:120px">
        <div data-options="name:'sono'">单号</div>
        <div data-options="name:'soCreateByName'">创建人</div>
    </div>

    <div id="searchbar" style="padding:3px">
        <span>单号:</span>
        <input id="sono" class="easyui-textbox" data-options="prompt:'请输入订单号'" style="width:20%">
        <span>订单类型:</span>
        <select  id="soTypeName" class="easyui-combobox" style="width:10%">
            <option value="" selected>请选择</option>
            <option value="OPER">手术订单</option>
            <option value="INSTK">备货订单</option>
        </select>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px" onclick="javascript:doSearch()">
            Search
        </a>
    </div>

    <div id="toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">New User</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">Edit User</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">Remove User</a>
    </div>

    <table id="MyOrdersTable" title="我的订单列表" class="easyui-datagrid" toolbar="#toolbar" width="100%">
        <thead frozen="true">
            <tr>
                <th field="ck" checkbox="true"></th>
                <th field="rownum" title="rownum" align="center">行</th>
                <th field="sono" title="sono" align="center" frozen="true">单号</th>
                <th field="soTypeName" title="soTypeName" align="center">类型</th>
                <th field="statusName" title="statusName" align="center">状态</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th rowspan="2" field="hpcodeName" title="hpcodeName" width="100" align="center">医院</th>
                <th rowspan="2" field="soCreateByName" title="soCreateByName" width="70" align="center">创建人</th>
                <th rowspan="2" field="createDate" title="createDate" width="120" align="center" sortable="true">创建时间</th>
                <th rowspan="2" field="updateDate" title="updateDate" width="120" align="center" sortable="true">更新时间</th>
                <th colspan="3">模糊单信息</th>
                <th colspan="4">详细单信息</th>

            </tr>
            <tr>
                <th field="initWardDeptCodeName" title="initWardDeptCodeName" width="100" align="center">initWardDeptCodeName</th>
                <th field="initIsLocalName" title="initIsLocalName" width="70" align="center">initIsLocalName</th>
                <th field="initDiseaseInfo" title="initDiseaseInfo" width="50" align="center">initDiseaseInfo</th>

                <th field="deliveryContact" title="deliveryContact" width="50" align="center">deliveryContact</th>
                <th field="deliveryrMobile" title="deliveryrMobile" width="100" align="center">deliveryrMobile</th>
                <th field="deliveryAddress" title="deliveryAddress" width="200" align="center">deliveryAddress</th>
                <th field="deliveryReqArrivalDate" title="createDate" width="120" align="center">deliveryReqArrivalDate</th>
            </tr>
        </thead>
    </table>

    <div id="win" class="easyui-window" title="My Window" closed="true" style="width:300px;height:100px;padding:5px;">
        Some Content.
    </div>

    <!-- 右键菜单 -->
    <div id="right-click-menu" class="easyui-menu" style="width:120px;">
        <div onClick="rightMenuFunction.view()" data-options="iconCls:'icon-search'">查看</div>
        <div onClick="rightMenuFunction.add()" data-options="iconCls:'icon-add'">新增</div>
        <div onClick="rightMenuFunction.edit()" data-options="iconCls:'icon-edit'">编辑</div>
        <div onClick="rightMenuFunction.del()" data-options="iconCls:'icon-remove'">删除</div>
        <div class="menu-sep"></div>
        <div onClick="rightMenuFunction.print()" data-options="iconCls:'icon-print'">打印</div>
        <div onClick="rightMenuFunction.reload()" data-options="iconCls:'icon-reload'">刷新</div>
    </div>
</div>

