<!--用户注册管理-用户新增(续)-->
<div class="content_id">
    <div class="content_left">
        <div class="control-group">
            <label style="margin-right: 215px">
                账户名： <span id="accountNameUserAddExtra"></span>
            </label>
        </div>
        <div class="control-group">
            <label style="margin-right: 215px">
                所属公司： <span id="companyUserAddExtra"></span>
            </label>
        </div>
        <div class="control-group">
            <label>
                姓名： <input id="userNameUserAddExtra" class="easyui-textbox"/>
            </label>
        </div>
        <div class="control-group">
            <label>
                身份证号： <input id="userIDCardUserAddExtra" class="easyui-textbox"
                             data-options="prompt:'请输入身份证号（必填）'"/>
            </label>
        </div>
        <div class="control-group">
            <label>
                手机： <input id="userMobileUserAddExtra" class="easyui-textbox"/>
            </label>
        </div>
        <div class="control-group">
            <label>
                邮箱： <input id="emailUserAddExtra" class="easyui-textbox"/>
            </label>
        </div>
        <div class="control-group">
            <label style="margin-right: 141px">
                学历：
                <select class="easyui-combobox" id="educationUserAddExtra" style="width: 70px;color:#999">
                    <option value="">本科</option>
                </select>
            </label>
        </div>
        <div class="control-group">
            <label style="margin-right: 141px">
                岗位：
                <select class="easyui-combobox" id="postUserAddExtra" style="width: 70px;color:#999">
                    <option value="">职员</option>
                </select>
            </label>
        </div>
        <div class="control-group ">
            <div class="button" style="margin-top: -1px; margin-right: -2px">
                <a href="#" onclick="alert('返回')"
                   style="width: 100px;height: 30px;line-height: 30px;margin-left: 15px">
                    <span>返回</span>
                </a>
                <a href="#" onclick="submitUserAddExtra()" style="width: 100px;height: 30px;line-height: 30px">
                    <span>提交</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="views/user/addExtra/userAddExtra.js"></script>
