<!--司机管理-详情-->
<div class="content_id">
    <div class="control-group" style="text-align: left;margin-right: 50px;margin-top: 30px">
        <label>
            <span style="color:#f79449">个人信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>账户名：</span>
            <a id="loginNameDriverDetail"></a>
        </label>
        <label>
            <span>所属物流中心：</span>
            <a id="lCNameDriverDetail"></a>
        </label>
        <label>
            <span>姓名：</span>
            <a id="userNameDriverDetail"></a>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>身份证号：</span>
            <a id="userIDCardDriverDetail"></a>
        </label>
        <label>
            <span>手机号：</span>
            <a id="userMobileDriverDetail"></a>
        </label>
        <label>
            <span>邮箱：</span>
            <a id="userEmailDriverDetail"></a>
        </label>
    </div>
    <div class="control-view">
        <label style="width: 90%">
            <span>地址：</span>
            <a id="provinceDriverDetail"></a>
            <a id="cityDriverDetail"></a>
            <a id="districtDriverDetail"></a>
            <a id="addressDriverDetail"></a>
        </label>
    </div>
    <div class="control-view">
        <label style="width: 90%">
            <span>身份证正面：</span>
            <div>
                <div id="iDPositiveDriverDetail">
                </div>
            </div>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>身份证反面：</span>
            <div>
                <div id="iDInverseDriverDetail">
                </div>
            </div>
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-right: 50px;margin-top: 220px">
        <label>
            <span style="color:#f79449">驾驶信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>驾驶证号：</span>
            <a id="driverLicNoDriverDetail"></a>
        </label>
        <label>
            <span>从业资格证号：</span>
            <a id="roadFrtQCertNoDriverDetail"></a>
        </label>
        <label>
            <span>有效期：</span>
            <a id="driverLicEffectiveDateEndDriverDetail"></a>
        </label>
    </div>
    <div class="control-view">
        <label style="width: 90%">
            <span>发证日期：</span>
            <a id="driverLicIssueDateDriverDetail"></a>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>驾驶证：</span>
            <div>
                <div id="driverLicPositiveDriverDetail">
                </div>
            </div>
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-right: 50px;margin-top: 120px">
        <label>
            <span style="color:#f79449">车辆信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>车牌号：</span>
            <a id="plateNoDriverDetail"></a>
        </label>
        <label>
            <span>车型：</span>
            <a id="vehicleLicSpecificationDriverDetail"></a>
        </label>
        <label>
            <span>发证日期：</span>
            <a id="vehicleLicIssueDateDriverDetail"></a>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>年检有效日期：</span>
            <a id="vehicleLicLastestInspEffEndDateDriverDetail"></a>
        </label>
        <label>
            <span>车辆容积：</span>
            <a id="vehicleCapacityDriverDetail"></a>
            <a> 方</a>
        </label>
        <label>
            <span>营运证号：</span>
            <a id="vehicleOPCertNoDriverDetail"></a>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>车辆尺寸：</span>
            <a id="vehicleLengthDriverDetail"></a>
            <a>×</a>
            <a id="vehicleWidthDriverDetail"></a>
            <a>×</a>
            <a id="vehicleHeightDriverDetail"></a>
            <a> 米</a>
        </label>
        <label style="width: 60%">
            <span>车辆所属：</span>
            <a id="vehicleOwnerTypeDriverDetail"
            ></a>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>行驶证：</span>
            <div>
                <div id="vehicleLicPositiveDriverDetail">
                </div>
            </div>
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-right: 50px;margin-top: 150px">
        <label>
            <span style="color:#f79449">交强险信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>保险公司：</span>
            <a id="compulsoryInsuranceCompanyDriverDetail"></a>
        </label>
        <label>
            <span>保险单号：</span>
            <a id="compulsoryInsuranceDocNoDriverDetail"></a>
        </label>
        <label>
            <span>保险有效期：</span>
            <a id="compulsoryInsuranceEffectiveEndDateDriverDetail"></a>
        </label>
    </div>
    <div class="control-view">
        <label style="width: 90%">
            <span>保险金额：</span>
            <a id="compulsoryInsuranceAmtDriverDetail"></a>
            <a> 万</a>
        </label>
    </div>
    <div class="control-view">
        <label style="width: 90%">
            <span>保单正本：</span>
            <div>
                <div id="compulsoryInsurancePositiveDriverDetail">
                </div>
            </div>
        </label>
    </div>

    <div class="control-view">
        <label>
            <span>保单副本：</span>
            <div>
                <div id="compulsoryInsuranceInverseDriverDetail">
                </div>
            </div>
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-right: 50px;margin-top: 220px">
        <label>
            <span style="color:#f79449">商业险信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>保险公司：</span>
            <a id="commercialInsuranceCompanyDriverDetail"></a>
        </label>
        <label>
            <span>保险单号：</span>
            <a id="commercialInsuranceDocNoDriverDetail"></a>
        </label>
        <label>
            <span>保险有效期：</span>
            <a id="commercialInsuranceEffectiveEndDateDriverDetail"></a>
        </label>
    </div>
    <div class="control-view">
        <label style="width: 90%">
            <span>保险金额：</span>
            <a id="commercialInsuranceAmtDriverDetail"></a>
            <a> 万</a>
        </label>
    </div>
    <div class="control-view">
        <label style="width: 90%">
            <span>保单正本：</span>
            <div>
                <div id="commercialInsurancePositiveDriverDetail">
                </div>
            </div>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>保单副本：</span>
            <div>
                <div id="commercialInsuranceInverseDriverDetail">
                </div>
            </div>
        </label>
    </div>
</div>

<script src="views/driver/detail/driverDetail.js"></script>
