<div class="content_id">
    <div class="control-group" style="text-align: left;margin-top: 30px">
        <label>
            <span style="color:#f79449">个人信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label style="padding-left: 0%">
            账户名：<span id="loginNameDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            所属物流中心：<span id="lCNameDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            姓名：<span id="userNameDriverDetail"></span>
        </label>
    </div>
    <div class="control-view">
        <label style="padding-left: 0%">
            身份证号：<span id="userIDCardDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            手机号：<span id="userMobileDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            邮箱：<span id="userEmailDriverDetail"></span>
        </label>
    </div>
    <div class="control-view">
        <label style="padding-left: 0%">
            地址：<span id="addressDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            身份证上传：<img id="iDPositiveDriverDetail"><img id="iDInverseDriverDetail">
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-top: 30px">
        <label>
            <span style="color:#f79449">驾驶信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label style="padding-left: 0%">
            驾驶证号：<span id="driverLicNoDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            从业资格证号：<span id="roadFrtQCertNoDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            有效期：<span id="driverLicEffectiveDateEndDriverDetail"></span>
        </label>
    </div>
    <div class="control-view">
        <label style="padding-left: 0%">
            地址：<span id="driverLicIssueDateDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            驾驶证上传：<img id="driverLicPositiveDriverDetail">
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-top: 30px">
        <label>
            <span style="color:#f79449">车辆信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label style="padding-left: 0%">
            车牌号：<span id="plateNoDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            车型：<span id="vehicleLicSpecificationDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            发证日期：<span id="vehicleLicIssueDateDriverDetail"></span>
        </label>
    </div>
    <div class="control-view">
        <label style="padding-left: 0%">
            年检有效日期：<span id="vehicleLicLastestInspEffEndDateDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            车辆容积：<span id="vehicleCapacityDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            营运证号：<span id="vehicleOPCertNoDriverDetail"></span>
        </label>
    </div>
    <div class="control-view">
        <label style="padding-left: 0%">
            车辆尺寸：<span id="vehicleLengthDriverDetail">×</span>
            <span id="vehicleWidthDriverDetail">×</span>
            <span id="vehicleHeightDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            车辆所属：<span id="vehicleOwnerTypeDriverDetail"></span>
        </label>
    </div>
    <div class="control-view">
        <label style="padding-left: 0%">
            行驶证上传：<img id="vehicleLicPositiveDriverDetail"/>
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-top: 30px">
        <label>
            <span style="color:#f79449">交保险信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label style="padding-left: 0%">
            保险公司：<span id="compulsoryInsuranceCompanyDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            保险单号：<span id="compulsoryInsuranceDocNoDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            保险有效期：<span id="compulsoryInsuranceEffectiveEndDateDriverDetail"></span>
        </label>
    </div>
    <div class="control-view">
        <label style="padding-left: 0%">
            保险金额：<span id="compulsoryInsuranceAmtDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            保单上传：<img id="compulsoryInsurancePositiveDriverDetail"/>
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-top: 30px">
        <label>
            <span style="color:#f79449">商业险信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label style="padding-left: 0%">
            保险公司：<span id="commercialInsuranceCompanyDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            保险单号：<span id="commercialInsuranceDocNoDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            保险有效期：<span id="commercialInsuranceEffectiveEndDateDriverDetail"></span>
        </label>
    </div>
    <div class="control-view">
        <label style="padding-left: 0%">
            保险金额：<span id="commercialInsuranceAmtDriverDetail"></span>
        </label>
        <label style="padding-left: 0%">
            保单上传：<img id="commercialInsurancePositiveDriverDetail"/>
        </label>
    </div>
</div>

<script src="views/driver/detail/driverDetail.js"></script>
