<!--司机管理-详情-->
<div class="content_id">
    <div class="control-group" style="text-align: left;margin-right: 50px;margin-top: 30px">
        <label>
            <span style="color:#f79449">个人信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>账户名：</span>
            <a id="loginNameDriverDetail"></a>
        </label>
        <label>
            <span>所属物流中心：</span>
            <a id="lCNameDriverDetail"></a>
        </label>
        <label>
            <span>姓名：</span>
            <a id="userNameDriverDetail"></a>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>身份证号：</span>
            <a id="userIDCardDriverDetail"></a>
        </label>
        <label>
            <span>手机号：</span>
            <a id="userMobileDriverDetail"></a>
        </label>
        <label>
            <span>邮箱：</span>
            <a id="userEmailDriverDetail"></a>
        </label>
    </div>
    <div class="control-view">
        <label style="width: 60%">
            <span>地址：</span>
            <a id="addressDriverDetail"></a>
        </label>
        <label>
            <span>身份证上传：</span>
            <div>
                <div id="iDPositiveDriverDetail">
                </div>
                <div id="iDInverseDriverDetail">
                </div>
            </div>
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-right: 50px;margin-top: 100px">
        <label>
            <span style="color:#f79449">驾驶信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>驾驶证号：</span>
            <a id="driverLicNoDriverDetail"></a>
        </label>
        <label>
            <span>从业资格证号：</span>
            <a id="roadFrtQCertNoDriverDetail"></a>
        </label>
        <label>
            <span>有效期：</span>
            <a id="driverLicEffectiveDateEndDriverDetail"></a>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>发证日期：</span>
            <a id="driverLicIssueDateDriverDetail"></a>
        </label>
        <label>
            <span>驾驶证上传：</span>
            <img id="driverLicPositiveDriverDetail">
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-right: 50px;margin-top: 100px">
        <label>
            <span style="color:#f79449">车辆信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>车牌号：</span>
            <a id="plateNoDriverDetail"></a>
        </label>
        <label>
            <span>车型：</span>
            <a id="vehicleLicSpecificationDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
        <label>
            <span>发证日期：</span>
            <a id="vehicleLicIssueDateDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>年检有效日期：</span>
            <a id="vehicleLicLastestInspEffEndDateDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
        <label>
            <span>车辆容积：</span>
            <a id="vehicleCapacityDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
        <label>
            <span>营运证号：</span>
            <a id="vehicleOPCertNoDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>车辆尺寸：</span>
            <a id="vehicleLengthDriverDetail"
               style="float: right;text-align: left;margin-right: 50px">×</a>
            <a id="vehicleWidthDriverDetail"
               style="float: right;text-align: left;margin-right: 50px">×</a>
            <a id="vehicleHeightDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
        <label>
            <span>车辆所属：</span>
            <a id="vehicleOwnerTypeDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>行驶证上传：</span>
            <img id="vehicleLicPositiveDriverDetail"/>
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-right: 50px;margin-top: 100px">
        <label>
            <span style="color:#f79449">交保险信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>保险公司：</span>
            <a id="compulsoryInsuranceCompanyDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
        <label>
            <span>保险单号：</span>
            <a id="compulsoryInsuranceDocNoDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
        <label>
            <span>保险有效期：</span>
            <a id="compulsoryInsuranceEffectiveEndDateDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>保险金额：</span>
            <a id="compulsoryInsuranceAmtDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
        <label>
            <span>保单上传：</span>
            <img id="compulsoryInsurancePositiveDriverDetail"/>
        </label>
    </div>
    <div class="control-group" style="text-align: left;margin-right: 50px;margin-top: 100px">
        <label>
            <span style="color:#f79449">商业险信息</span>
        </label>
    </div>
    <div class="cut-off-rule"></div>
    <div class="control-view">
        <label>
            <span>保险公司：</span>
            <a id="commercialInsuranceCompanyDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
        <label>
            <span>保险单号：</span>
            <a id="commercialInsuranceDocNoDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
        <label>
            <span>保险有效期：</span>
            <a id="commercialInsuranceEffectiveEndDateDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
    </div>
    <div class="control-view">
        <label>
            <span>保险金额：</span>
            <a id="commercialInsuranceAmtDriverDetail"
               style="float: right;text-align: left;margin-right: 50px"></a>
        </label>
        <label>
            <span>保单上传：</span>
            <img id="commercialInsurancePositiveDriverDetail"/>
        </label>
    </div>
</div>

<script src="views/driver/detail/driverDetail.js"></script>
