<div class="content_id">
    <div class="content_left">
        <div class="control-group ">
            <label>
                企业客户编号： <input class="easyui-textbox"  id="cECodeEnterprisesEdit" data-options="prompt:'请输入企业客户编号'"/>
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                营业执照证号： <input class="easyui-textbox"  id="corpRegNoEnterprisesEdit" data-options="prompt:'请输入营业执照证号'"/>
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                企业名称： <input class="easyui-textbox"  id="cENameEnterprisesEdit" data-options="prompt:'请输入企业名称'"/>
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                注册地址：<select class="easyui-combobox"  id="corpRegProvinceCodeEnterprisesEdit" style="width: 70px ;color:#999">
                <option value="">请选择省</option>
            </select>
                <select class="easyui-combobox"  id="corpRegCityCodeEnterprisesEdit" style="width: 70px;color:#999">
                    <option value="">请选择市</option>
                </select>
                <select class="easyui-combobox"  id="corpRegDistrictCodeEnterprisesEdit" style="width: 70px;color:#999">
                    <option value="">请选择区</option>
                </select>
            </label>
        </div>
        <div class="control-group ">
            <label>
                <input class="easyui-textbox"  id="corpRegAddressEnterprisesEdit" data-options="prompt:'请输入详细地址'"/>
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                企业法人  <input class="easyui-textbox"  id="corpRegLegalRepEnterprisesEdit" data-options="prompt:'请输入企业法人'"/>
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                营业期限从:  <input class="easyui-textbox"  id="corpRegBizStartDateEnterprisesEdit" data-options="prompt:'例如:2016-10-4 16:00 00'"/>
            </label>
        </div>
        <div class="control-group ">
            <label>
                <span class="required">*</span>
                至:  <input class="easyui-textbox"  id="corpRegBizEndDateEnterprisesEdit" data-options="prompt:'例如:2016-10-4 16:00 00'"/>
            </label>
        </div>
        <div class="control-group ">
            <form>
                营业执照上传:
                <input type="file" onchange="javascript:EnterprisesEditImg(this);" style="width: 200px;border: #fff" />
            </form>
            <div id="imgList">
                <div class="imgEditCO">
                </div>
                <div class="imgEditCC">
                </div>
            </div>
        </div>
        <div class="control-group ">
            <div class="button"  style="margin-top: -1px; margin-right: -2px">
                <a href="#"onclick="EnterprisesSubmitEdit()" style="width: 133px;height: 30px;line-height: 30px">
                    <span>提交</span>
                </a>
            </div>
        </div>
    </div>
    <div class="content_right" >
    </div>
</div>
<script src="views/enterprises/edit/enterprisesEdit.js"></script>
