<!--用户注册管理-新增-->
<div class="content_id">
    <div class="content_left">
        <div class="control-group">
            <label>
                账户名： <input class="easyui-textbox" data-options="prompt:'请输入账户名（必填）'"/>
            </label>
        </div>
        <div class="control-group">
            <label>
                初始密码： <input class="easyui-textbox" data-options="prompt:'请输入初始密码（必填）'"/>
            </label>
        </div>
        <div class="control-group">
            <label>
                确认密码： <input class="easyui-textbox" data-options="prompt:'请输入确认密码（必填）'"/>
            </label>
        </div>
        <div class="control-group">
            <label>
                用户角色：
                <select class="easyui-combobox" style="width: 70px;color:#999">
                    <option value="">普通用户</option>
                </select>
            </label>
        </div>
        <div class="control-group">
            <label>
                姓名： <input class="easyui-textbox" data-options="prompt:'请输入真实姓名（必填）'"/>
            </label>
        </div>
        <div class="control-group">
            <label>
                所属公司：
                <select class="easyui-combobox" style="width: 70px;color:#999">
                    <option value="">上海三友医疗器械有限公司</option>
                </select>
            </label>
        </div>
        <div class="control-group">
            <div class="button" style="margin-top: -1px; margin-right: -2px">
                <a href="#" onclick="userAddSubmit()" style="width: 133px;height: 30px;line-height: 30px">
                    <span>提交</span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<script></script>
